<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<body>
    <h1>学生信息列表</h1>
    <ul>
        <!--[python04,python05,python06]-->
        {%for student in students%}
            {% if forloop.counter|divisibleby:2 %}
                <li style="color:red">
                    {{forloop.counter}}--{{student.id}}--{{student.sname}}
                </li>
            {% else %}
                <li style="color:blue">
                    {{forloop.counter}}--{{student.id}}--{{student.sname}}
                </li>
            {% endif %}
            <li>
                <a href="student.id">{{forloop.counter}}--{{student.id}}--{{student.sname}}--{{student.sage}}--{{student.scontend}}--{{student.sgrade}}--{{student.lastTime}}--{{student.createTime}}</a>
            </li>
        {% empty %}
            <li>目前没有学生</li>
        {%endfor%}
        {% ifequal  1 2  %}
            <li> 相等 </li>
        {% else %}
            <li> 不相等 </li>
        {% endifequal %}
    </ul>
</body>
</html>